<form action="/login" method="POST">
	<div>
		<label for="username">Username:</label>
		<input type="name" name="username" placeholder="Username" />
	</div>
	<div>
		<label for="password">Password:</label>
		<input type="password" name="password" placeholder="Password" />
	</div>
	<button type="submit">Login</button>
</form>
